# Dependencias
node_modules/
**/node_modules/

# Variables de entorno y secretos
.env
.env.*
**/local.settings.json

# Builds
dist/
build/
**/dist/
**/build/
.azure/

# Azure Functions
bin/
obj/

# Editor / SO
.vscode/
.DS_Store
Thumbs.db

# Logs
*.log
npm-debug.log*

# Emulador de Azurite (storage local para Azure Functions)
__azurite_db_*__.json
__blobstorage__/
__queuestorage__/
__tablestorage__/
